<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= product.name %> - Product Details</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Product Details</h1>
      <div class="product-details">
        <h2><%= product.name %></h2>
        <p>
          <strong>Price:</strong>
          <span class="price">$<%= product.price.toFixed(2) %></span>
        </p>
        <p>
          <strong>Category:</strong>
          <span class="category"
            ><a href="/products?category=<%= product.category %>"
              ><%= product.category %></a
            ></span
          >
        </p>
        <p><strong>Description:</strong> No Description available.</p>
        <div class="mb-3">
          <% if (product.farm) { %>
          <p>
            <strong>Farm:</strong>
            <span class="farm"
              ><a href="/farms/<%= product.farm._id %>"
                ><%= product.farm.name %></a
              ></span
            >
          </p>
          <% } %>
          <a href="/products">Back to Products List</a>
          <a href="/products/<%= product._id %>/edit">Edit Product</a>
        </div>
      </div>
    </div>
  </body>
</html>
